%table
  %tr
    %th
      Title
    %th
      Due date
    %th
      Category
  - @tasks.each do |task|
    %tr
      %td
        = task.goal.title
      %td
        = task.due_date
      %td
        = task.goal.categories