%table
  %tr
    %th
      Title
    %th
      Due date
    %th
      Category
  - @todos.each do |todo|
    %tr
      %td
        =todo.goal.title
      %td
        =todo.pretty_due_date
      %td
        =todo.goal.pretty_categories